function Square.new 0
push constant 3 
call Memory.alloc 1
pop pointer 0
push argument 0 
pop this 0
push argument 1 
pop this 1
push argument 2 
pop this 2
pop temp 0
function Square.dispose 0
push argument 0 
pop pointer 0
pop temp 0
function Square.draw 0
push argument 0 
pop pointer 0
pop temp 0
function Square.erase 0
push argument 0 
pop pointer 0
pop temp 0
function Square.incSize 0
push argument 0 
pop pointer 0
push this 0 
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
pop temp 0
goto IF_END0
label IF_FALSE0
label IF_END0
function Square.decSize 0
push argument 0 
pop pointer 0
push this 2 
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
pop temp 0
goto IF_END1
label IF_FALSE1
label IF_END1
function Square.moveUp 0
push argument 0 
pop pointer 0
push this 1 
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
pop temp 0
goto IF_END2
label IF_FALSE2
label IF_END2
function Square.moveDown 0
push argument 0 
pop pointer 0
push this 1 
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
pop temp 0
goto IF_END3
label IF_FALSE3
label IF_END3
function Square.moveLeft 0
push argument 0 
pop pointer 0
push this 0 
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
pop temp 0
goto IF_END4
label IF_FALSE4
label IF_END4
function Square.moveRight 0
push argument 0 
pop pointer 0
push this 0 
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
pop temp 0
goto IF_END5
label IF_FALSE5
label IF_END5
